Repository mdsreq-fga-unb/2023.1-UniBuddy, pull requests merged in 2023-06, with the labels that each got.

#36 Adiciona rotas relacionadas aos usuarios
  backend/controller/UserController.js
  package-lock.json
  package.json
Labels: back end, MVP1, pull request

#37 Adiciona rota relacionada a carona
  backend/controller/CaronaController.js
  backend/controller/UserController.js
  backend/index.js
  backend/middleware/auth.js
  backend/models/Carona.js
  backend/models/Solicitacoes.js
  backend/utils/carona_utils.js
Labels: back end, MVP1, pull request

#38 Adiciona esquema de notificações
  backend/README.md
  backend/controller/CaronaController.js
  backend/controller/NotificacoesController.js
  backend/index.js
  backend/models/Notificacoes.js
  backend/utils/carona_utils.js
  backend/utils/notificacao_utils.js
  backend/utils/usuario_utils.js
  yarn.lock
Labels: documentation, back end, database, MVP1, pull request

#40 docs: adição das iterações realizadas e o planejamento
  docs/sprints/ciclo_1.md
  docs/sprints/ciclo_2.md
  docs/sprints/ciclo_3.md
  docs/sprints/ciclo_4.md
  docs/sprints/ciclo_5.md
  docs/sprints/ciclo_6.md
  docs/sprints/planejamento_ciclos.md
  mkdocs.yml
Labels: documentation, pull request
